.body_demo {
  background-color: antiquewhite;
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.flip_demo {
  display: block;
  position: absolute;
  top: 10px;
  right: 20px;
}

.app_demo {
  box-sizing: border-box;
  box-shadow: -0.5rem 0.5rem 0.5rem #00000066;
}

.secondary-video-container_demo {
  background-color: black;
}

/* Portait */

.app_demo_portrait {
  width: 420px;
  max-width: 420px;
  height: calc(100vh - 40px) !important;
  margin: 20px;
}

.main-video-container_demo_portait,
.secondary-video-container_demo_portrait {
  width: 100% !important;
}

.secondary-video-container_demo_portrait > .subscriber {
  width: calc(420px / 3) !important;
}

/* Landscape */
.app_demo_landscape {
  height: 420px !important;
  max-height: 420px;
}

.main-video-container_demo_landscape {
  width: 100% o !important;
  height: 100% !important;
}
