.embed-dialog_container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: black;
}

.embed-dialog_title {
  margin: 0;
}

.embed-dialog_container_title {
  background-color: #fff;
}

.embed-dialog_options {
  flex: 1;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.embed-options {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-bottom: 10px;
}

.embed-options_option {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0;
}

.embed-options_option > label {
  display: block !important;
}

.embed-options_option_label {
  width: 30%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  margin: 0;
  margin-right: 16px;
}

.embed-options_option_input {
  flex-grow: 1;
}

.embed-dialog_code {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  min-height: 120px;
  max-height: calc(100vh * 0.5);
}

.embed-dialog_close {
  width: fit-content;
}
