@media (orientation: landscape) {
  #app {
    display: block;
  }

  .main-video-container {
    height: 100vh;
    z-index: 1;
  }

  .secondary-video-container {
    position: absolute;
    bottom: 50px;
    /* bottom is based on height of main video control bar */
    right: 10px;
    height: calc(100vh / 5);
    flex-direction: row;
    align-items: flex-end;
    z-index: 2;
  }

  .secondary-video-container_more {
    display: none;
    color: white;
    padding: 10px 20px;
    margin: 0;
    backdrop-filter: brightness(0.5);
  }

  .secondary-video-container > .subscriber {
    height: 100%;
    width: unset;
    border-radius: 20px;
    box-shadow: -0.5rem 0.5rem 0.5rem #00000066;
  }

  .secondary-video-container > .subscriber > .subscriber_label {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: none;
  }

  .secondary-video-container > .subscriber:not(:first-child) {
    margin-left: calc(-100vh / 10);
  }

  .secondary-video-container > .subscriber:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
    z-index: 100;
  }

  .secondary-video-container
    > .subscriber:hover
    ~ .secondary-video-container
    > .subscriber {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
  }
}

@media (orientation: portrait) {
  /* body {
		background-color: yellow;
	} */
}
