.red5pro-media-control-bar {
  background-color: unset !important;
  backdrop-filter: blur(30px);
  color: white !important;
}

.red5pro-media-slider-progress,
.red5pro-media-slider-button {
  background-color: white !important;
}

.red5pro-media-time-field {
  font-size: 1rem;
}

.red5pro-media-seektime-slider {
  position: relative !important;
  display: flex !important;
  align-items: center !important;
  margin-top: unset !important;
}

.red5pro-media-slider-progress,
.red5pro-media-slider-track {
  border-radius: 10px !important;
  height: 3px !important;
  position: absolute !important;
  top: unset !important;
}

.red5pro-media-slider-button {
  top: unset !important;
}

.red5pro-media-slider-track {
  width: 100%;
}

.red5pro-media-slider-button {
  /* width: 36px !important;
	height: 36px !important;
	max-width: 36px !important;
	max-height: 36px !important; */
}

.red5pro-media-volume-slider,
.red5pro-media-fullscreen-button {
  display: none !important;
}

.red5pro-media-control-bar {
  z-index: 100 !important;
}

.red5pro-media-pause-button {
  background-image: url(/lib/red5pro/icons/pause.svg) !important;
}

.red5pro-media-play-button {
  background-image: url(/lib/red5pro/icons/play.svg) !important;
}

.red5pro-media-mute-button {
  background-image: url(/lib/red5pro/icons/volume-x.svg) !important;
}

.red5pro-media-unmute-button {
  background-image: url(/lib/red5pro/icons/volume-2.svg) !important;
}
